:host {

  .logo {
    .last-part {
      color: red;
    }
  }

  .middle-links {
    list-style: none;

    li {
      min-width: 75px;

      span {
        cursor: pointer;
      }
    }

    >.active {
      display: flex;
      justify-content: center;
      align-items: center;

      >span {
        width: fit-content;
        border-bottom: 2px solid black;
      }
    }

  }

  .end-links {
    list-style: none;

    li {
      span {
        cursor: pointer;
      }
    }
  }
}
