<nav class="p-3 d-flex justify-content-between align-items-center">
  <!-- logo -->
  <div class="logo">
    <h2 class="m-0 fs-3 fw-bold">
      <span class="first-part">GRO.</span>
      <span class="last-part">PRO</span>
    </h2>
  </div>

  <!-- middle links -->
  <ul class="d-flex m-0 middle-links">
    <li class="text-center">
      <span>Home</span>
    </li>
    <li class="text-center">
      <span>About Us</span>
    </li>
    <li class="text-center">
      <span>Pricing</span>
    </li>
    <li class="text-center active">
      <span>Blog</span>
    </li>
    <li class="text-center">
      <span>Contact</span>
    </li>
  </ul>

  <!-- end links -->
  <ul class="d-flex m-0 end-links">
    <li>
      <button type="button" class="btn">
        Login
      </button>
    </li>
    <li>
      <button type="button" class="btn btn-outline-secondary rounded-pill">
        Register
      </button>
    </li>
  </ul>
</nav>
