<div class="offcanvas-header ps-4">
  <h4 class="offcanvas-title fs-3 fw-bold logo" id="offcanvas-basic-title">
    <span class="first-part">GRO.</span>
    <span class="last-part">PRO</span>
  </h4>
  <button type="button" class="btn-close" aria-label="Close" (click)="close('Close click')"></button>
</div>

<ul class="offcanvas-body pt-2 ps-2 links">
  <li class="mb-1 px-3 py-2 text-start" (click)="close('Nav item click')">
    <fa-icon [icon]="faHome"></fa-icon>
    <span class="ms-2">Home</span>
  </li>
  <li class="my-1 text-start active-parent">
    <div (click)="collapse.toggle()" [attr.aria-expanded]="!isCollapsed" class="px-3 py-2 sub-nav-trigger">
      <div class="d-flex justify-content-between">
        <span>
          <fa-icon [icon]="faPeopleGroup"></fa-icon>
          <span class="ms-2">About Us</span>
        </span>
        <fa-icon *ngIf="isCollapsed" [icon]="faAngleDown"></fa-icon>
        <fa-icon *ngIf="!isCollapsed" [icon]="faAngleUp"></fa-icon>
      </div>
    </div>
    <!-- sub nav -->
    <div #collapse="ngbCollapse" [(ngbCollapse)]="isCollapsed" class="sub-nav">
      <div class="card-body pb-0 pe-0">
        <ul class="ps-2 sub-links">
          <li class="mb-1 px-2 py-1 active">
            <fa-icon [icon]="faMinus"></fa-icon>
            Our History
          </li>
          <li class="mb-1 px-2 py-1">
            <fa-icon [icon]="faMinus"></fa-icon>
            Our Team
          </li>
        </ul>
      </div>
    </div>
  </li>
  <li class="my-1 px-3 py-2 text-start" (click)="close('Nav item click')">
    <fa-icon [icon]="faHandHoldingDollar"></fa-icon>
    <span class="ms-2">Pricing</span>
  </li>
  <li class="my-1 px-3 py-2 text-start active" (click)="close('Nav item click')">
    <fa-icon [icon]="faBookOpenReader"></fa-icon>
    <span class="ms-2">Blog</span>
  </li>
  <li class="mt-1 px-3 py-2 text-start" (click)="close('Nav item click')">
    <fa-icon [icon]="faAddressBook"></fa-icon>
    <span class="ms-2">Contact</span>
  </li>
</ul>
