<div class="offcanvas-header">
  <h4 class="offcanvas-title fs-3 fw-bold" id="offcanvas-basic-title">
    <span class="first-part">GRO.</span>
    <span class="last-part">PRO</span>
  </h4>
  <button type="button" class="btn-close" aria-label="Close" (click)="close('Close click')"></button>
</div>

<div class="offcanvas-body">
  <li class="text-start">
    <span>Home</span>
  </li>
  <li class="text-start">
    <span>About Us</span>
  </li>
  <li class="text-start">
    <span>Pricing</span>
  </li>
  <li class="text-start active">
    <span>Blog</span>
  </li>
  <li class="text-start">
    <span>Contact</span>
  </li>
</div>
