$color-active: rgba(76, 106, 205, 1);
$bg-color-active: rgba(235, 240, 254, 1);
$border-radius: 8px;

:host {
  padding: 0 1rem;

  .logo {
    .last-part {
      color: red;
    }
  }

  .links,
  .sub-links {
    list-style: none;

    li {
      min-width: 75px;
      border-radius: $border-radius;

      span {
        cursor: pointer;
      }
    }

    >.active {
      color: $color-active;
      background-color: $bg-color-active;
    }
  }

  .links {
    >.active-parent {
      >div.sub-nav-trigger {
        border-radius: $border-radius;
        color: $color-active;
        background-color: $bg-color-active;
      }
    }
  }

}
