:host {
  .card-heading {
    color: rgb(182 220 143);
  }

  .card {
    $card-border-radies: 12px;

    border-radius: $card-border-radies;

    img {
      border-radius: $card-border-radies;
    }
  }
}
