<section class="px-5 my-5 mid-section">
  <div class="row">
    <div class="col-6 my-3">
      <div class="row justify-content-center align-items-center">
        <div class="col-9">
          <div class="box-1">
            <div class="p-3 image">
              <img src="https://picsum.photos/300/200" height="100%" width="100%" alt="">
            </div>
            <div class="px-3">
              <h4 class="fs-6">Marketing</h4>
              <h5>
                Your company might be in need of a social media audit.
              </h5>
              <div class="row">
                <small class="col-6">By Rubeus Hagrid</small>
                <small class="col-6 text-end">July 20, 2021</small>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-6 box-2-3-wrapper">
      <div class="row justify-content-center align-items-center">
        <div class=" col-9 box-2">
          <div class="p-3 image">
            <img src="https://picsum.photos/300/200" height="100%" width="100%" alt="">
          </div>
          <div class="px-3">
            <h5>How can business utilize email marketting to nurture their leads</h5>
          </div>
        </div>

        <div class="col-9 box-3">
          <div class="p-3 image">
            <img src="https://picsum.photos/300/200" height="100%" width="100%" alt="">
          </div>
          <div class="px-3">
            <h5>Auto-reply: How to use automated responses for your email lists</h5>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
