<section class="px-3 px-md-5 my-5 mid-section">
  <div class="row justify-content-evenly">
    <div class="col-12 col-md-5 p-3 mb-4 mb-md-0 card">
      <!-- <div class="p-2"> -->
      <img src="https://picsum.photos/300/200" width="100%" height="50%" alt="" style="object-fit: cover;">
      <!-- </div> -->
      <div class="p-2">
        <h4 class="fs-6 card-heading">Marketing</h4>
        <p class="fs-5 fw-bold">
          Your company might be in need of a social media audit.
        </p>
        <div class="row">
          <small class="col-6">By Rubeus Hagrid</small>
          <small class="col-6 text-end">July 20, 2021</small>
        </div>
      </div>
    </div>

    <div class="col-12 col-md-5">
      <div class="row justify-content-evenly">
        <div class="col-5 col-md-12 p-3 mb-md-4 card">
          <img src="https://picsum.photos/301/200" width="100%" height="175px" alt="" style="object-fit: cover;">
          <div>
            <p class="fs-5 fw-bold">
              How can businesses utilize email marketting to nurture their leads.
            </p>
          </div>
        </div>

        <div class="col-5 col-md-12 p-3 card">
          <img src="https://picsum.photos/302/200" width="100%" height="175px" alt="" style="object-fit: cover;">
          <div>
            <p class="fs-5 fw-bold">
              Auto-reply: How to use automated responses for your email lists.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
