<div class="p-3">
  <h3>Playground</h3>

  <hr>

  <!-- rating bound to a form -->
  <app-form-rating></app-form-rating>

  <hr>

  <!-- <details> && <summary> -->
  <code>
    {{'\<details>'}}
  </code>
  <details>
    <summary>Moses Adongo</summary>
    <p>I am a software developer</p>
  </details>

  <hr>

  <!-- <mark> tag -->
  <code>
    {{'\<mark>'}}
  </code>
  <p class="mt-1">
    <mark>Follow Now</mark> for more <span style="background-color: #fcf8e3; padding: 4px">amazing posts</span>
  </p>

  <hr>

  <!-- input -->
  <input type="date">
</div>
